<aside id="sidebar"class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="page-login"><span><i class="material-icons">&#9950;</i> Instructions & Guidelines</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="dashboard"><i style='font-size:24px' class='fas'>&#xf558;</i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link"routerLink=""><i style='font-size:24px' class='fas'>&#xf406;</i>Apply For Permission</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="pages-lnding"><i style='font-size:35px' class='fas'>&#9859;</i>page-landing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="users-profile"><i style='font-size:24px' class='fas'>&#xf4ff;</i>users-profile</a></li>
    </ul>
    
</aside>