<main id="main" class="main">

    <!-- casul start-->
    <div class="pagetitle">
        <h1>Carousel</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Carousel</li>
            </ol>
        </nav>
    </div>
    <section class="section">


        <div class="card">
            <div class="card-body">
                <h5 class="card-title">With captions</h5>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators"> <button type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button> <button type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button></div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/slides-1.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/slides-2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/slides-3.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span> </button> <button class="carousel-control-next"
                        type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"> <span
                            class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span> </button>
                </div>
            </div>
        </div>


    </section>
    <!-- casul end-->

    <!---card bodyE start-->
    <div class="container mt-4">
        <div class="row">
            <h3 class="text-danger">Pages-login works!</h3>
            <hr>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/img/card.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                   
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.laboriosam amet velit? Culpa sed sunt totam doloremque error animi molestias
                            molestiae qui, quia impedit earum! Maxime,
                            assumenda excepturi. Harum nulla cumque assumenda nisi, accusamus sunt doloremque hic autem
                            debitis soluta maiores
                            blanditiis officia neque aliquid corrupti tempora. Molestias ratione ut molestiae laudantium
                            exercitationem nemo aut
                            dolorum quia quisquam delectus. Non odio eum repellendus officia doloremque dicta enim quis
                            minus quos excepturi
                            laboriosam architecto sunt recusandae, soluta incidunt nulla veniam. Asperiores quibusdam
                          
                            aperiam ullam iste laboriosam pariatur animi. Laudantium dolorum ex, asperiores dictaaperiam ullam iste laboriosam pariatur animi. Laudantium dolorum ex, asperiores dictaaperiam ullam iste laboriosam pariatur animi. Laudantium dolorum ex, asperiores dicta
                           
                           repellat saepe praesentium mollitia culpa omnis nobis illo architecto numquam</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>





            </div>
        </div>

    </div>

    <!---card bodyE end-->
    <section class="section">
        <h3 class="text-danger">Pages-login works!</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sunt vero officiis dolorum beatae, harum qui,
            architecto voluptate quas iure, error ullam inventore sapiente aliquid nihil. Tempora reprehenderit ipsum
            natus. Cum, tempora quasi itaque, non et nobis temporibus obcaecati reprehenderit, laboriosam amet velit?
            Culpa sed sunt totam doloremque error animi molestias molestiae qui, quia impedit earum! Maxime, assumenda
            excepturi. Harum nulla cumque assumenda nisi, accusamus sunt doloremque hic autem debitis soluta maiores
            blanditiis officia neque aliquid corrupti tempora. Molestias ratione ut molestiae laudantium exercitationem
            nemo aut dolorum quia quisquam delectus. Non odio eum repellendus officia doloremque dicta enim quis minus
            quos excepturi laboriosam architecto sunt recusandae, soluta incidunt nulla veniam. Asperiores quibusdam
            officia necessitatibus dignissimos, aspernatur id iure, itaque enim ea, placeat tempore quos! Eaque dicta
            voluptatibus non, consequuntur aperiam ullam iste laboriosam pariatur animi. Laudantium dolorum ex,
            asperiores dicta eligendi voluptatum, ratione nostrum vero eius numquam debitis maiores voluptates
            veritatis, recusandae optio quibusdam beatae enim. Cumque sit debitis dignissimos quis cum, ratione
            laboriosam adipisci nihil, ut voluptas ea saepe rem minima soluta dicta facere voluptatem culpa? Illum ex,
            repellat natus repellendus blanditiis iusto vero earum ut error nobis est itaque accusamus non culpa hic
            voluptatem obcaecati quos similique ad ratione qui esse? Rem aliquid eligendi natus neque molestias,
            suscipit, autem minima earum eaque, consequuntur aut. Magnam ratione numquam nostrum odit vero, enim vitae?
            Iste ratione odit explicabo quis eius? Pariatur vitae blanditiis amet! Eum, laboriosam. Quaerat maxime
            nostrum, libero dolorem repellat saepe praesentium mollitia culpa omnis nobis illo architecto numquam
            possimus aut vitae accusantium id vel. Aperiam hic corrupti officiis, nesciunt quos nobis molestias
            obcaecati sunt, qui fugit magnam? Voluptate soluta autem, consequuntur dolores vel culpa impedit reiciendis
            minus, nam laborum at blanditiis eum voluptatibus accusantium minima. Ullam assumenda quidem adipisci
            voluptates voluptatem corrupti, mollitia amet esse quam enim, veritatis ducimus aperiam facere vitae quae?
            Nemo maiores possimus optio, eaque iure natus vitae autem expedita temporibus nulla explicabo doloribus ab
            est accusantium delectus eligendi eum labore ipsum! Doloremque placeat enim, corporis eos laudantium sit?
            Dignissimos doloremque voluptatum, quod officia rem recusandae necessitatibus! Quam natus eius in, nam
            voluptatem nemo reprehenderit veritatis ad minus recusandae, magnam aliquam soluta voluptas repellendus id
            cupiditate. Exercitationem ut autem corrupti reprehenderit harum maxime soluta nobis, deleniti consequuntur
            non facere dolore accusantium ipsam. Dignissimos dolores veritatis cum nostrum molestiae voluptates
            reiciendis odit necessitatibus sapiente repudiandae. Nisi incidunt explicabo quis! Ab laboriosam temporibus
            nesciunt ex eius tenetur ea at ipsam, eaque nobis asperiores fuga dolorum nostrum quisquam corrupti odit
            doloribus eveniet? Voluptate magnam voluptates ipsam illo itaque fuga culpa soluta veritatis, quidem
            perferendis laudantium recusandae non asperiores a veniam temporibus? Cupiditate non ipsa quaerat, autem
            quia saepe accusamus ipsum pariatur asperiores a id iste itaque exercitationem, sed odit voluptate. Ipsum
            laborum numquam sint, praesentium rem ducimus neque quasi porro deserunt similique odio accusamus libero
            dicta aspernatur dolore quia, eius omnis, eaque voluptas atque est iure. Inventore itaque veritatis ea fugit
            recusandae, temporibus ipsum, repellendus eos deserunt molestias nam vero reiciendis omnis odit adipisci a?
            Laudantium, atque.
        </p>










    </section>
</main>